JIRA_BASE_URL=https://your-site.atlassian.net
JIRA_EMAIL=
JIRA_API_TOKEN=
JIRA_PROJECT_KEY=PROJ
JIRA_BOARD_URL=https://your-site.atlassian.net/jira/software/projects/PROJ/boards/1
GITHUB_REPOSITORY_URL=https://github.com/your-user/sprintguard
AGENT_WRITE_MODE=false
